QuickLogin/Connected Services/AuthServer/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.turbine.com/SE/GLS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.turbine.com/SE/GLS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The GLS AuthServer service is responsible for handling front end authentication
requests and managing authentication tickets for clients. It is consumed by the game launcher and provides
profile and subscription information.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.turbine.com/SE/GLS">
      <s:element name="LoginAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="additionalInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginAccountResult" type="tns:UserProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserProfile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Subscriptions" type="tns:ArrayOfGameSubscription" />
          <s:element minOccurs="0" maxOccurs="1" name="Ticket" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGameSubscription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GameSubscription" type="tns:GameSubscription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GameSubscription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Game" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductTokens" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerServiceTokens" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NextBillingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PendingCancelDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AutoRenew" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingSystemTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalInfo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RefreshTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefreshTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserProfile" nillable="true" type="tns:UserProfile" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginAccountSoapIn">
    <wsdl:part name="parameters" element="tns:LoginAccount" />
  </wsdl:message>
  <wsdl:message name="LoginAccountSoapOut">
    <wsdl:part name="parameters" element="tns:LoginAccountResponse" />
  </wsdl:message>
  <wsdl:message name="RefreshTicketSoapIn">
    <wsdl:part name="parameters" element="tns:RefreshTicket" />
  </wsdl:message>
  <wsdl:message name="RefreshTicketSoapOut">
    <wsdl:part name="parameters" element="tns:RefreshTicketResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAccountHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="additionalInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginAccountHttpGetOut">
    <wsdl:part name="Body" element="tns:UserProfile" />
  </wsdl:message>
  <wsdl:message name="RefreshTicketHttpGetIn">
    <wsdl:part name="ticket" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RefreshTicketHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginAccountHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="additionalInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginAccountHttpPostOut">
    <wsdl:part name="Body" element="tns:UserProfile" />
  </wsdl:message>
  <wsdl:message name="RefreshTicketHttpPostIn">
    <wsdl:part name="ticket" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RefreshTicketHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceSoap">
    <wsdl:operation name="LoginAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates the supplied user credentials.
If the supplied username and password are verified by the back-end billing system,
this method will return an authentication ticket that can be used to hand off
authentication status to other services (such as the game server) as well as a
user profile that describes the subscriptions available to this user.
Unsuccessful authentication attempts will cause an exception to be thrown
which may contain information from the billing system.  If that happens,
either the username does not exist, or the password was incorrect.
The authentication ticket that is returned is valid for a fixed period of time.
If it is necessary to maintain an authentication context for longer than a few
minutes, the RefreshTicket method should be used to obtain an extended ticket.</wsdl:documentation>
      <wsdl:input message="tns:LoginAccountSoapIn" />
      <wsdl:output message="tns:LoginAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefreshTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Refreshes an authentication ticket. If a valid
ticket is presented, this method will return another ticket that is valid for an
extended period of time.  This mechanism can be used to keep an authentication
context valid for the full period of a user's contact with Turbine services.
An exception will be thrown if the ticket cannot be renewed for any reason.
In particular, an expired ticket will cause a TicketExpiredException to be thrown.
If that happens, a Call to LoginAccount will be necessary to re-authenticate
the account.</wsdl:documentation>
      <wsdl:input message="tns:RefreshTicketSoapIn" />
      <wsdl:output message="tns:RefreshTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpGet">
    <wsdl:operation name="LoginAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates the supplied user credentials.
If the supplied username and password are verified by the back-end billing system,
this method will return an authentication ticket that can be used to hand off
authentication status to other services (such as the game server) as well as a
user profile that describes the subscriptions available to this user.
Unsuccessful authentication attempts will cause an exception to be thrown
which may contain information from the billing system.  If that happens,
either the username does not exist, or the password was incorrect.
The authentication ticket that is returned is valid for a fixed period of time.
If it is necessary to maintain an authentication context for longer than a few
minutes, the RefreshTicket method should be used to obtain an extended ticket.</wsdl:documentation>
      <wsdl:input message="tns:LoginAccountHttpGetIn" />
      <wsdl:output message="tns:LoginAccountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RefreshTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Refreshes an authentication ticket. If a valid
ticket is presented, this method will return another ticket that is valid for an
extended period of time.  This mechanism can be used to keep an authentication
context valid for the full period of a user's contact with Turbine services.
An exception will be thrown if the ticket cannot be renewed for any reason.
In particular, an expired ticket will cause a TicketExpiredException to be thrown.
If that happens, a Call to LoginAccount will be necessary to re-authenticate
the account.</wsdl:documentation>
      <wsdl:input message="tns:RefreshTicketHttpGetIn" />
      <wsdl:output message="tns:RefreshTicketHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpPost">
    <wsdl:operation name="LoginAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates the supplied user credentials.
If the supplied username and password are verified by the back-end billing system,
this method will return an authentication ticket that can be used to hand off
authentication status to other services (such as the game server) as well as a
user profile that describes the subscriptions available to this user.
Unsuccessful authentication attempts will cause an exception to be thrown
which may contain information from the billing system.  If that happens,
either the username does not exist, or the password was incorrect.
The authentication ticket that is returned is valid for a fixed period of time.
If it is necessary to maintain an authentication context for longer than a few
minutes, the RefreshTicket method should be used to obtain an extended ticket.</wsdl:documentation>
      <wsdl:input message="tns:LoginAccountHttpPostIn" />
      <wsdl:output message="tns:LoginAccountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RefreshTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Refreshes an authentication ticket. If a valid
ticket is presented, this method will return another ticket that is valid for an
extended period of time.  This mechanism can be used to keep an authentication
context valid for the full period of a user's contact with Turbine services.
An exception will be thrown if the ticket cannot be renewed for any reason.
In particular, an expired ticket will cause a TicketExpiredException to be thrown.
If that happens, a Call to LoginAccount will be necessary to re-authenticate
the account.</wsdl:documentation>
      <wsdl:input message="tns:RefreshTicketHttpPostIn" />
      <wsdl:output message="tns:RefreshTicketHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceSoap" type="tns:Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginAccount">
      <soap:operation soapAction="http://www.turbine.com/SE/GLS/LoginAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTicket">
      <soap:operation soapAction="http://www.turbine.com/SE/GLS/RefreshTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceSoap12" type="tns:Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginAccount">
      <soap12:operation soapAction="http://www.turbine.com/SE/GLS/LoginAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTicket">
      <soap12:operation soapAction="http://www.turbine.com/SE/GLS/RefreshTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpGet" type="tns:Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LoginAccount">
      <http:operation location="/LoginAccount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTicket">
      <http:operation location="/RefreshTicket" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpPost" type="tns:Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LoginAccount">
      <http:operation location="/LoginAccount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTicket">
      <http:operation location="/RefreshTicket" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The GLS AuthServer service is responsible for handling front end authentication
requests and managing authentication tickets for clients. It is consumed by the game launcher and provides
profile and subscription information.</wsdl:documentation>
    <wsdl:port name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceSoap" binding="tns:Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceSoap">
      <soap:address location="http://gls.ddo.com/GLS.AuthServer/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceSoap12" binding="tns:Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceSoap12">
      <soap12:address location="http://gls.ddo.com/GLS.AuthServer/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpGet" binding="tns:Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpGet">
      <http:address location="http://gls.ddo.com/GLS.AuthServer/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpPost" binding="tns:Global_x0020_Login_x0020_System_x0020_Authentication_x0020_ServiceHttpPost">
      <http:address location="http://gls.ddo.com/GLS.AuthServer/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>